/* Estilos para pantallas medianas y más pequeñas (tablets y móviles) */
@media (max-width: 768px) {
    /*
     * Elimina el padding izquierdo del body que se usa para el sidebar en escritorio,
     * ya que en móvil el sidebar es un overlay.
     */
    body {
        padding-left: 0;
    }

    /*
     * Ajusta la posición inicial de la transición de página para que ocupe toda la pantalla,
     * ya que no hay un sidebar fijo en la vista móvil.
     */
    .page-slide-transition {
        left: 0;
    }

    /*
     * Oculta la navegación lateral de escritorio y muestra los elementos
     * específicos para móvil, como el botón del menú.
     */
    #sidebarNav {
        display: none;
    }

    main {
        padding-left: 0;
    }
}

/* Estilos para pantallas grandes */
@media (min-width: 769px) {
    /*
     * Asegura que el menú de navegación móvil esté oculto en pantallas de escritorio.
     */
    #mobileSidebar, #mobileSidebarOverlay {
        display: none;
    }
}